<app-customForm  [moduleId]="params.moduleId" [params]="params" [moduleAction]="params.action"></app-customForm>
<!-- <app-custom-wizard-form *ngIf="params.formType == 'wizard'" [moduleId]="params.moduleId" [params]="params" [moduleAction]="params.action"></app-custom-wizard-form> -->


<!-- Basic form layout section start -->
<!-- <app-customForm [moduleId]="params.moduleId" [params]="params" [moduleAction]="params.action"></app-customForm> -->
<!-- // Basic form layout section end -->
      
<!-- 
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h4>Job Profile Creation</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <aw-wizard [navBarLocation]="'top'" [navBarLayout]="'large-filled-symbols'">
                <aw-wizard-step stepTitle="Basic Details" [navigationSymbol]="{ symbol: '1' }">
                   <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class="font-weight-bold">Job Profile Title: </label>
                                        <input class="form-control" type="text" placeholder="Title"/>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="font-weight-bold">Applicable Date: </label>
                                        <input class="form-control" type="date" placeholder="Title"/>
                                    </div>
                                </div>
                            </form>
                            <button type="button" class="btn btn-primary" awNextStep>Next</button>
                            <button type="button" class="btn btn-primary" [awGoToStep]="{stepIndex: 2}"></button>
                       </div>
                   </div>
                </aw-wizard-step>
                <aw-wizard-step stepTitle="Interview Process" [navigationSymbol]="{ symbol: '2' }">
                    <div class="row">
                        <div class="col-12">
                            Content of Step 1
                            <button type="button" class="btn btn-primary" awNextStep>Next</button>
                            <button type="button" class="btn btn-primary" [awGoToStep]="{stepIndex: 2}"></button>
                        </div>
                    </div>
                 </aw-wizard-step>
                 <aw-wizard-step stepTitle="Interview Timings" [navigationSymbol]="{ symbol: '3' }">
                    <div class="row">
                        <div class="col-12">
                            Content of Step 1
                            <button type="button" class="btn btn-primary" awNextStep>Next</button>
                            <button type="button" class="btn btn-primary" [awGoToStep]="{stepIndex: 2}"></button>
                        </div>
                    </div>
                 </aw-wizard-step>
                 <aw-wizard-step stepTitle="Video Inclusion" [navigationSymbol]="{ symbol: '4' }">
                    <div class="row">
                        <div class="col-12">
                            Content of Step 1
                            <button type="button" class="btn btn-primary" awNextStep>Next</button>
                            <button type="button" class="btn btn-primary" [awGoToStep]="{stepIndex: 2}"></button>
                        </div>
                    </div>
                 </aw-wizard-step>
                 <aw-wizard-step stepTitle="Last Step" [navigationSymbol]="{ symbol: '5' }">
                    <div class="row">
                        <div class="col-12">
                            Content of Step 1
                            <button type="button" class="btn btn-primary" awNextStep>Next</button>
                            <button type="button" class="btn btn-primary" [awGoToStep]="{stepIndex: 2}"></button>
                        </div>
                    </div>
                 </aw-wizard-step>
            </aw-wizard>
        </div>
    </div>
</div> -->