.container {
    display: block;
    font-size: 1rem;
    background-color: white;
    padding: 1.5rem;
    border: 1px #504d50 solid;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.container:not(.open) {
    display: none;
}