<div class="d-flex p-2" *ngIf="show">
    <a [href]="whatsappShare" target="_blank">
        <img src="/assets/social-icons/whatsapp.png" alt="">
    </a>
    <a [href]="facebookShare" target="_blank">
        <img src="/assets/social-icons/facebook.png" alt="">
    </a>
    <a [href]="twitterShare" target="_blank">
        <img src="/assets/social-icons/twitter.png" alt="">
    </a>
    <a [href]="linkedInShare" target="_blank">
        <img src="/assets/social-icons/linkedin.png" alt="">
    </a>
</div>