.alert-light-warning {
    background-color: #FEEFD0 !important;
    color: #F77E17 !important;
    border-color: #FEEFD0;
  }


ul a + .submenu, ul a + .subSubmenu {
    display: none;
}

ul a.active + .submenu, ul a.active + .subSubmenu {
    display: block;
    list-style: none;
}
