.default-url-div {
    width: 100%;
    padding: 0.8rem;
    input {
        height: 2.4rem;
        width: 100%;
        border: none;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        background-color: rgb(255, 230, 202);
    }
}

.form-control {
    width: 100%;
    height: 2.2rem;
}