<!-- <span class="example-spacer"></span>
<div class="col-md-12 homeScreen" *ngIf="this.showButton">
    Do you want to Add Shortcut to your Device? If yes, Please Click on <strong>Add to Home Screen</strong> or press <strong>Cancel</strong>
    <button class="btn1 btn-info bt-sm" (click)="addToHomeScreen()">Add to home screen</button>
    <button class="btn1 btn-warning bt-sm" (click)="cancel()">Ask Later</button>
    <span style='margin-right: 2px; float: right;'><input type="checkbox" value=false />  Do Not ask Again</span>
</div> -->
<!-- <button class="btn1 btn-info bt-sm homeScreen" *ngIf="showButton" (click)="addToHomeScreen()">Add to home screen</button> -->

<router-outlet></router-outlet>