.form-control{
    display: inherit;
    width: 100%;
}

form{
    margin-top: 20px;
}

.customTable thead td {
    background-color: #F7F7F8;
    padding: 5px;
}

.customTable thead td:not(:first-child) {
    border-left: 1px solid #8080803B;
}

.mainContent .table:not(.open){
    display: none;
    overflow: hidden;
}

.mainContent .tabs:not(.showTab){
    display: none;
    overflow: hidden;
}

button:not(.show){
    display: none;
}

// .mainContent{
//     margin-bottom: 100px;
// }

.customTable tbody td {
    // background-color: #F7F7F8;
    padding: 5px;
}

.pageFooter{
    position: fixed;
    bottom: -12px;
    background: none;
    // width: 30%;
    /* max-width: 100%; */
    z-index: 9999;
    padding-top: 5px;
    left: 50px;
}

.Section{
    margin-bottom: 5px;
}

.table.table-responsive {
    height: 100%;
}

.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value {
    background-color: transparent !important;
}