<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Recover Password for <strong>{{username}}</strong></p>
    <form [formGroup]="forgotPassword" noValidate>
        <input type="hidden" name="username" id="username" formControlName="username" />
        <div class="form-group position-relative has-icon-right">
            <input class="form-control" type="email" name="email" id="email"
                formControlName="email" [ngClass]="{'is-invalid': submitted && form.email.errors}"
                placeholder="Email" required/>
            <small class="form-text text-muted danger"
                *ngIf="submitted && form.email.errors && form.email.errors.required">Enter Your Email</small>
        </div>
        <div class="form-group position-relative has-icon-right">
            <input class="form-control" type="text" name="mobileNumber" id="mobileNumber"
                formControlName="mobileNumber"
                [ngClass]="{'is-invalid': submitted && form.mobileNumber.errors}"
                placeholder="Mobile Number" required/>
            <small class="form-text text-muted danger"
                *ngIf="submitted && form.mobileNumber.errors && form.mobileNumber.errors.required">Enter Your Mobile Number</small>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-raised btn-info" (click)="submit()">Recover Password</button>
    <button type="button" class="btn btn-secondary btn-raised btn-danger"
        (click)="activeModal.dismiss('Close click')">Close</button>
</div>